// COLORS
$white   : #FFFFFF;
$black   : #000000;
$grey-200: #D8D8D8;
$blue-100: #E5EAF1;
$blue-50 : #F6FAFF;

// SPACING
$spacing-0  : 0px;
$spacing-100: 0.5rem;   // 8px
$spacing-200: 1rem;     // 16px
$spacing-300: 1.5rem;   // 24px
$spacing-400: 2rem;     // 32px
$spacing-500: 2.5rem;   // 40px
$spacing-600: 3rem;     // 48px
$spacing-700: 3.5rem;   // 56px
$spacing-800: 4rem;     // 64px
$spacing-900: 4.4rem;   //72px
$spacing-1000:5rem;     // 80px
$spacing-1100:5.5rem;   //96px
$spacing-1200:6rem;     //96px
$spacing-1300:6.5rem;   //96px
$spacing-1400:7rem;     //96px
$spacing-1500:9.5rem;   //152px
$spacing-1600:10rem;    //160px

// TYPOGRAPHY
$ff-Alata   : "Alata", sans-serif;
$ff-Josefin : "Josefin Sans", sans-serif;

$fs-sm:0.875rem;    //14px
$fs-base:0.9375rem; //15px
$fs-lg:1.5rem;      //24px
$fs-xl:2rem;        //32px
$fs-2xl:3rem;       //48px

$fw-regular : 400;
$fw-light : 300;

