
@use "variables" as v;
@use "components/nav";
@use "layout/header";
@use "layout/footer";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
img {   
    display: block;
    max-width: 100%;  
}

body {
    margin:0;
}






/*.hero__mob-nav*/
/*.hero__nav {
    max-width: 48rem;
    background-color: black;
    height:100vh;
    width:100%;
    margin-inline: auto;
   
    padding-top:clamp(v.$spacing-500,8.5vw,v.$spacing-800);
    padding-left: clamp(24px,10.5vw,80px);
    padding-right: clamp(24px,10.5vw,80px);

    position: fixed;
    top:0;
    right:-100%;
    display:flex;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
    z-index:100;
    
    @media(min-width:1440px){
        position:static;
        height:auto;
        width: auto;
        padding:0;
        background:none;
        margin-inline: unset;
    }
}*/








/*----- Hero Title -----*/

.hero__text{
    margin-top: 10.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:38rem;

    padding:clamp(v.$spacing-200,4.28vw,v.$spacing-500)  clamp(v.$spacing-300,6vw,v.$spacing-500);
    border: 1px solid v.$white;


    h1{ 
        text-transform: uppercase;
        color: v.$white;
        font-family: v.$font-family-Josefin ;
        font-size:clamp(2.5rem,9.5vw,4.375rem);
        line-height: 100%;
        letter-spacing: 0;
        font-weight: v.$fw-light;
        
    }
    @media (min-width:48rem){
         margin-top: 126px;
    }

    @media(min-width: 90rem){
        width:58.6%;
    }
}



